<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>主界面</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<a href="/admin/accounts">用户列表</a>
		<hr />
		<a href="/admin/productions">产品列表</a>
		<hr />
		<a href="/admin/files">文件列表</a>
		<hr />
		<a href="/admin/dld-tasks">下载任务列表</a>
		<hr />
		<a href="/admin/fsgroups">File Service Group 列表</a>
		<hr />
		<a href="/admin/file-services">File Service 列表</a>

		<!-- ===== vendor scripts ===== -->
		<script
			th:src="@{${APP_ASSETS_HOME} + '/js/jquery/2.1.4/jquery-2.1.4.min.js'}"></script>

		<!-- ===== application scripts ===== -->
	</div>
</body>

</html>