<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>主界面</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
        <a href="/files">文件列表</a>
        <hr />
        <a href="/admin/dld-tasks">下载任务列表</a>
        <hr />
        <a href="/admin/sd-card-orders">SD 卡订单列表</a>
        
		<script src="/assets/v1/js/jquery/2.1.4/jquery-2.1.4.min.js"></script>
	</div>
</body>

</html>