<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>删除产品</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<h4>删除产品</h4>
		<hr />
		<form action="/admin/productions/delete" method="post">
			<div class="form-group">
				<label for="productionNameText">名称</label> <input type="text"
					class="form-control" name="name" th:value="${name}"
					readonly="readonly" />
			</div>
			<div class="form-group">
				<label for="descriptionText">描述</label> <input type="text"
					class="form-control" name="description" th:value="${description}"
					readonly="readonly" />
			</div>
			<input type="hidden" name="id" th:value="${id}" />
			<button type="submit" class="btn btn-danger">确认删除</button>
		</form>
	</div>
</body>

</html>