<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.mapper.DownloadTaskRMapper">

	<resultMap type="com.example.domain.DownloadTask" id="resultMap">
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<!-- -->
		<result property="productionId" column="production_id" />
		<result property="fileId" column="file_id" />
		<result property="clientIp" column="client_ip" />
		<result property="expiredAt" column="expired_at" />
		<result property="webServerHost" column="web_server_host" />
		<result property="appServerThreadId" column="app_server_thread_id" />
		<result property="appServerThreadName" column="app_server_thread_name" />
	</resultMap>

	<select id="selectAll" resultMap="resultMap">
		SELECT * FROM download_task WHERE enabled=true
	</select>
	
	<select id="selectById" parameterType="com.example.domain.DownloadTask" resultMap="resultMap">
	   SELECT * FROM download_task WHERE id=#{id} AND expired_at>=#{createdAt} AND enabled=true
	</select>

</mapper>