<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.mapper.FileWMapper">

	<insert id="insert" parameterType="com.example.domain.File">
	   INSERT INTO file
	   (id, created_at, updated_at, enabled, production_id, dir, name, size)
	   VALUES
	   (default, #{createdAt}, #{updatedAt}, #{enabled}, #{productionId}, #{dir}, #{name}, #{size})
	</insert>

</mapper>