<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.must.AccountWMapper">

	<insert id="insert" parameterType="com.example.domain.Account">
		INSERT INTO account
		(created_at,
		updated_at, enabled, name, password, role_id)
		VALUES
		(#{createdAt},
		#{updatedAt}, #{enabled}, #{name}, #{password},
		#{role.id})
	</insert>

	<update id="update" parameterType="com.example.domain.Account">
		UPDATE account
		SET
		name=#{name}, role_id=#{role.id},
		enabled=#{enabled},
		updated_at=#{updatedAt}
		WHERE id=#{id}
	</update>

	<update id="enable" parameterType="com.example.domain.Account">
		UPDATE account
		SET
		enabled=1,
		updated_at=#{updatedAt}
		WHERE id=#{id}
	</update>

	<update id="disable" parameterType="com.example.domain.Account">
		UPDATE account
		SET
		enabled=0,
		updated_at=#{updatedAt}
		WHERE id=#{id}
	</update>

	<update id="updatePassword" parameterType="com.example.domain.Account">
		UPDATE account
		SET
		password=#{password},
		updated_at=#{updatedAt}
		WHERE id=#{id}
	</update>

</mapper>