<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.must.DownloadTaskRMapper">

	<sql id="columns">created_at, updated_at, enabled, uuid, id,
		file_id,
		client_ip, time_cost_millis, user_id
	</sql>

	<resultMap type="com.example.domain.DownloadTask" id="resultMap">
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<!-- -->
		<result property="userId" column="user_id" />
		<result property="fileId" column="file_id" />
		<result property="clientIp" column="client_ip" />
		<result property="expiredAt" column="expired_at" />
		<result property="timeCostMillis" column="time_cost_millis" />
		<result property="lastDldedAt" column="last_dlded_at" />
	</resultMap>

	<select id="selectAll" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM download_task
		WHERE enabled=true
		ORDER BY created_at DESC, id DESC
	</select>

	<select id="selectById" parameterType="long" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM download_task
		WHERE id=#{id} AND enabled=true
	</select>

	<select id="selectByUserId" parameterType="long" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM download_task
		WHERE user_id=#{userId} AND enabled=true
        ORDER BY created_at DESC, id DESC
	</select>

	<select id="selectByUuid" parameterType="string" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM download_task
		WHERE uuid=#{uuid} AND enabled=true
	</select>

</mapper>