<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.must.DownloadTaskWMapper">

	<insert id="insert" parameterType="com.example.domain.DownloadTask">
	   <selectKey order="AFTER" keyProperty="id" resultType="long">
            SELECT currval('download_task_id_seq')
       </selectKey>
	   INSERT INTO download_task
	   (id, uuid, created_at, updated_at, enabled, user_id, file_id, client_ip, expired_at, time_cost_millis)
	   VALUES
	   (default, #{uuid}, #{createdAt}, #{updatedAt}, #{enabled}, #{userId}, #{fileId}, #{clientIp}, #{expiredAt}, #{timeCostMillis})
	</insert>
	
	<update id="updateTimeCostMillis" parameterType="com.example.domain.DownloadTask">
	   UPDATE download_task 
	   SET updated_at=#{updatedAt}, time_cost_millis=#{timeCostMillis} 
	   WHERE id=#{id}
	</update>
	
	<update id="updateLastDldedAt" parameterType="com.example.domain.DownloadTask">
       UPDATE download_task 
       SET updated_at=#{updatedAt}, last_dlded_at=#{lastDldedAt}, time_cost_millis=#{timeCostMillis}  
       WHERE id=#{id}
    </update>

</mapper>