<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.must.FileRMapper">

	<sql id="columns">
		created_at, updated_at, enabled, id, production_id,
		dir,
		name,
		size,
		sd_card_price_fen, md, file_service_group_id
	</sql>

	<resultMap type="com.example.domain.File" id="resultMap">
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<!-- -->
		<result property="productionId" column="production_id" />
		<result property="sdCardPriceFen" column="sd_card_price_fen" />
		<result property="fileServiceGroupId" column="file_service_group_id" />
	</resultMap>

	<select id="selectAll" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		WHERE enabled=true
		ORDER BY created_at DESC, id DESC
	</select>

	<select id="selectAllIgnoreEnabled" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		ORDER BY created_at DESC, id DESC
	</select>

	<select id="selectById" parameterType="long" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		WHERE id=#{id} AND enabled=true
	</select>

	<select id="selectByIdIgnoreEnabled" parameterType="long"
		resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		WHERE id=#{id}
	</select>

</mapper>