<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.must.FileServiceGroupRMapper">

	<sql id="columns">created_at, updated_at, enabled, id, namespace
	</sql>

	<resultMap type="com.example.domain.FileServiceGroup" id="resultMap">
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>

	<select id="selectAll" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file_service_group
		WHERE enabled=true
		ORDER BY created_at DESC, id DESC
	</select>
	
	<select id="selectById" parameterType="long" resultMap="resultMap">
        SELECT
        <include refid="columns" />
        FROM file_service_group
        WHERE id=#{id} AND enabled=true
    </select>

</mapper>