<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.must.FileServiceWMapper">

	<insert id="insert" parameterType="com.example.domain.FileService">
		INSERT INTO file_service
		(created_at, updated_at, enabled, name, host, group_id)
		VALUES
		(#{createdAt}, #{updatedAt}, #{enabled}, #{name}, #{host}, #{group.id});
	</insert>

	<update id="enable" parameterType="com.example.domain.FileService">
		UPDATE file_service
		SET
		enabled=1,
		updated_at=#{updatedAt}
		WHERE id=#{id}
	</update>

	<update id="disable" parameterType="com.example.domain.FileService">
		UPDATE file_service
		SET
		enabled=0,
		updated_at=#{updatedAt}
		WHERE id=#{id}
	</update>

	<update id="update" parameterType="com.example.domain.FileService">
		UPDATE file_service
		SET enabled=#{enabled},
		updated_at=#{updatedAt}, host=#{host}, group_id=#{groupId}
		WHERE id=#{id}
	</update>

</mapper>