<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persist.must.FileRMapper">

	<sql id="columns">
		created_at, updated_at, enabled, id, production_id,
		dir,
		name,
		size,
		md, file_service_group_id
	</sql>

	<resultMap type="com.example.domain.File" id="resultMap">
		<result property="enabled" column="enabled" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<!-- -->
		<result property="id" column="id" />
		<result property="dir" column="dir" />
		<result property="name" column="name" />
		<result property="size" column="size" />
		<result property="md" column="md" />
		<!-- -->
		<association property="production" javaType="com.example.domain.Production">
			<id property="id" column="production_id" />
		</association>
		<association property="fileServiceGroup" javaType="com.example.domain.FileServiceGroup">
			<id property="id" column="file_service_group_id" />
		</association>
	</resultMap>

	<select id="selectAllEnabled" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		WHERE enabled=1
		ORDER BY created_at DESC, id DESC
	</select>

	<select id="selectAll" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		ORDER BY created_at DESC, id DESC
	</select>

	<select id="selectEnabledById" parameterType="long" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		WHERE id=#{id} AND enabled=1 
		LIMIT 1
	</select>

	<select id="selectById" parameterType="long" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM file
		WHERE id=#{id} 
		LIMIT 1
	</select>

</mapper>