<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<property name="url" value="${app.db.url}" />
		<property name="username" value="${app.db.username}" />
		<property name="password" value="${app.db.password}" />
		<!-- -->
		<property name="driverClassName" value="${app.db.driverClassName}" />
		<property name="initialSize" value="${app.db.initialSize}" />
		<property name="maxActive" value="${app.db.maxActive}" />
		<property name="minIdle" value="${app.db.minIdle}" />
		<property name="maxIdle" value="${app.db.maxIdle}" />
		<property name="removeAbandoned" value="${app.db.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${app.db.removeAbandonedTimeout}" />
		<property name="maxWait" value="${app.db.maxWait}" />
		<property name="validationQuery" value="${app.db.validationQuery}" />
		<property name="testOnBorrow" value="${app.db.testOnBorrow}" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="accountRMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.example.persist.mapper.AccountRMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="productionRMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.example.persist.mapper.ProductionRMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="downloadTaskRMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.example.persist.mapper.DownloadTaskRMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="productionWMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.example.persist.mapper.ProductionWMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="downloadTaskWMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.example.persist.mapper.DownloadTaskWMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
</beans>
