<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>文件</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<h4>文件</h4>
		<hr />
		<div class="form-group">
			<label for="idText">编号</label> <input type="text"
				class="form-control" id="idText" readonly="readonly"
				th:value="${id}"></input>
		</div>
		<div class="form-group">
			<label for="nameText">名称</label> <input type="text"
				class="form-control" id="nameText" readonly="readonly"
				th:value="${name}"></input>
		</div>
		<div class="form-group">
			<label for="sizeText">大小 (MB)</label> <input type="text"
				class="form-control" id="sizeText" readonly="readonly"
				th:value="${sizeMb}"></input>
		</div>
		<div class="form-group">
			<label for="createdAtText">创建时间</label> <input type="text"
				class="form-control" id="createdAtText" readonly="readonly"
				th:value="${createdAt}"></input>
		</div>
		<div class="form-group">
			<label for="mdText">消息摘要</label> <input class="form-control"
				type="text" id="mdText" readonly="readonly" th:value="${md}"></input>
		</div>

		<!-- ===== vendor scripts ===== -->
		<script
			th:src="@{${APP_ASSETS_HOME} + '/js/jquery/2.1.4/jquery-2.1.4.min.js'}"></script>

		<!-- ===== application scripts ===== -->
	</div>
</body>

</html>