<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>地图数据文件</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<h4>地图数据文件</h4>
		<hr />
		<div class="form-group">
			<label for="idText">编号</label> <input id="idText"
				class="form-control" type="text" readonly="readonly"
				th:value="${id}"></input>
		</div>
		<div class="form-group">
			<label for="nameText">名称</label> <input id="nameText"
				class="form-control" type="text" readonly="readonly"
				th:value="${name}"></input>
		</div>
		<div class="form-group">
			<label for="sizeText">大小 (MB)</label> <input id="sizeText"
				class="form-control" type="text" readonly="readonly"
				th:value="${sizeMb}"></input>
		</div>
		<div class="form-group">
			<label for="createdAtText">创建时间</label> <input id="createdAtText"
				class="form-control" type="text" readonly="readonly"
				th:value="${createdAt}"></input>
		</div>
		<div class="form-group">
            <label for="mdText">消息摘要</label> <input id="mdText"
                class="form-control" type="text" readonly="readonly"
                th:value="${md}"></input>
        </div>
	</div>
</body>

</html>