<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>Login</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<form action="/login" method="post">
			<div class="form-inline">
				<label id="usernameLabel" for="usernameText">Username: </label> <input
					type="text" class="form-control" id="usernameText" name="username" />
			</div>
			<br />
			<div class="form-inline">
				<label id="passwordLabel" for="passwordPassword">Password: </label> <input
					type="password" class="form-control" id="passwordPassword"
					name="password" />
			</div>
			<br />
			<button id="loginButton" type="submit" class="btn btn-primary">Login</button>
		</form>

		<!--=================================================================-->
		<!-- vendor scripts -->
		<script
			th:src="@{${APP_ASSETS_HOME} + '/js/jquery/2.1.4/jquery-2.1.4.min.js'}"></script>
		<script
			th:src="@{${APP_ASSETS_HOME} + '/js/jquery.i18n.properties/1.2.2/jquery.i18n.properties-1.2.2.min.js'}"></script>

		<!--=================================================================-->
		<!-- application scripts -->
		<script th:src="@{${APP_ASSETS_HOME} + '/js/app/common/common.js'}"></script>
		<script th:src="@{${APP_ASSETS_HOME} + '/js/app/login.js'}"></script>
	</div>
</body>

</html>
