<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>编辑文件</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<h4>编辑</h4>
		<hr />
		<form action="/admin/files/edit" method="post">
			<div class="form-group">
				<label for="idText">编号</label> <input type="text"
					class="form-control" id="idText" name="id" th:value="${id}"
					readonly="readonly" />
			</div>
			<div class="form-group">
				<label for="dirText">目录</label> <input type="text"
					class="form-control" id="dirText" name="dir" th:value="${dir}" />
			</div>
			<div class="form-group">
				<label for="nameText">名称</label> <input type="text"
					class="form-control" id="nameText" name="name" th:value="${name}" />
			</div>
			<div class="form-group">
				<label for="productionSelect">产品</label> <select
					class="form-control" id="productionSelect" name="production"></select>
			</div>
			<div class="form-group">
				<label for="sizeText">大小 (MB)</label> <input type="text"
					class="form-control" id="sizeText" name="size"
					th:value="${size}/1024/1024" />
			</div>
			<div class="form-group">
				<label for="mdText">消息摘要</label> <input type="text"
					class="form-control" id="mdText" name="md" th:value="${md}" />
			</div>
			<div class="form-group">
				<label for="fsgSelect">文件服务组</label> <select class="form-control"
					id="fsgSelect" name="fsg">
				</select>
			</div>
			<div class="form-group">
				<label for="enabledSelect">已经启用</label> <select class="form-control"
					id="enabledSelect" name="enabled">
					<option value="true" th:selected="${enabled}">启用</option>
					<option value="false" th:selected="${!enabled}">禁用</option>
				</select>
			</div>
			<div class="form-group">
				<label for="createdAtText">创建时间</label> <input type="text"
					class="form-control" th:value="${createdAt}" readonly="readonly" />
			</div>
			<div class="form-group">
				<label for="updatedAtText">上次修改时间</label> <input type="text"
					class="form-control" th:value="${updatedAt}" readonly="readonly" />
			</div>
			<button type="submit" class="btn btn-primary">确认</button>
			&nbsp;&nbsp;&nbsp; <a href="#"
				onclick="javascript:window.history.back();" class="btn btn-warning">取消</a>
			<input type="hidden" id="productionIdHidden" th:value="${productionId}"></input>
			<input type="hidden" id="fsgIdHidden" th:value="${fileServiceGroupId}"></input>
		</form>

		<!-- ===== vendor scripts ===== -->
		<script
			th:src="@{${APP_ASSETS_HOME} + '/js/jquery/2.1.4/jquery-2.1.4.min.js'}"></script>
		
		<!-- ===== application scripts ===== -->
		<script th:src="@{${APP_ASSETS_HOME} + '/js/app/common/common.js'}"></script>
		<script
			th:src="@{${APP_ASSETS_HOME} + '/js/app/admin/production/service.js'}"></script>
		<script
			th:src="@{${APP_ASSETS_HOME} + '/js/app/admin/file-service-group/service.js'}"></script>
		<script th:src="@{${APP_ASSETS_HOME} + '/js/app/admin/file/edit.js'}"></script>
	</div>
</body>

</html>