<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>启用文件</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<h4>启用文件</h4>
		<hr />
		<form action="/admin/files/enable" method="post">
			<div class="form-group">
				<label for="idText">编号</label> <input type="text"
					class="form-control" id="idText" name="id" th:value="${id}"
					readonly="readonly" />
			</div>
			<div class="form-group">
				<label for="nameText">名称</label> <input type="text"
					class="form-control" id="nameText" name="name" th:value="${name}"
					readonly="readonly" />
			</div>
			<button type="submit" class="btn btn-success">确认启用</button>
		</form>
	</div>
</body>

</html>