<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<head>
<title>新建文件</title>
<meta charset="utf-8" />
</head>

<body>
	<div class="container" layout:fragment="content">
		<h4>新建文件</h4>
		<hr />
		<form action="/admin/files" method="post">
			<div class="form-group">
				<label for="productionNameText">名称</label> <input type="text"
					class="form-control" name="name" />
			</div>
			<button type="submit" class="btn btn-primary">确认</button>
		</form>
	</div>
</body>

</html>